@import '~bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
.card {
   
    border: 0;
}
select option[disabled]:first-child {
	display: none;
}
div.validation-error{
    color: red;
    text-align: center;
}
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  @media (min-width: 576px){
    .container {
      max-width: 100%;
    }
  }
  .container {
   padding:2px;
  }
  .containerPadding {
    padding-left:25px;
   }
   .navbar-text {
   padding-left:30px;
  padding-bottom:10px;
  
  }
   .navbar-text a{
      text-decoration: none;
      
   }
   .mat-header-cell {
   background-color:#17a2b8;;
color:#fff;
font-size:14px;
font-weight: 400;
    }
 .navbar-brand {
    color: rgb(14, 13, 13);
    
}