<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-light">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" style="color:black;font-weight:600" href="/Flight">Acme Remote Flights</a>
            <span class="navbar-text">
                <a href="/Booking"  style="color:black;">Manage Booking</a>
            </span>


        </div>
    </div>
</nav>

<div class="container">

    <app-acme></app-acme>
    <router-outlet></router-outlet>

</div>
